html, body {
  /* width: 98vw; */
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

#game-wrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #ad79a9 url('http://presskit.ko-opmode.com/skipping_stones/images/sunsetpier.png') no-repeat;
}

.data {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(12, 253, 4);
  font-size: 0.7em;
  text-align: left;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

/* #game-wrapper canvas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */